/Labs/L2_LogisticRegression/.ipynb_checkpoints/*
/Labs/L2_LogisticRegression/L2_LogisticRegression_files/*
/Labs/L3_MultilayerNetworks/L3_Multilayer_files/*
/Labs/L4_ConvolutionalNeuralNetworks/L4_ConvolutionalNeuralNetworks_files/*
